<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Documentacion</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!-- Custom fonts for this template-->
  <link href="/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<!-- Custom styles for this template-->
<link href="/public/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('listadoc') %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <%- include('navbar') %>
            <!-- End of Topbar -->

            <!-- ********* ESCRIBIR AQUI DENTRO CONTAINER FLUILD ESCRIBE LO QUE SALDRA EN EL MEDIO-->
            <div class="container-fluid">

              <div class="row quick-action-toolbar">
                <div class="col-md-12 grid-margin">
                  <div class="card">
                    <div class="card-header d-block d-md-flex" style="background: orange;">
                      <h5 class="mb-0 text-light" style="font-weight: bolder;">Gestión de Alumnos</h5>
                      <i class="icon-bulb"></i>
                    </div>
                    <div class="d-md-flex row m-0 quick-action-btns" role="group" aria-label="Quick action buttons">
                      <div class="card-body">
                        <p>Esta sección contiene la información de la gestión de Alumnos, el cual se puede acceder a
                          través del POSTMAN en la siguiente dirección:
                          <strong>http://ie.spring.informaticapp.com:8383/admin/alumnos</strong></p>
                        <p>
                          Cabe mencionar que es necesario que obtengas el token de seguridad para tener acceso a todos
                          los recursos, si todavía no cuentas con uno, puedes solicitarlo <a href="/tokensecundaria">OBTEN TU TOKEN AQUI</a>
                        </p>

                        <hr class="sidebar-divider border-dark">  

                        <strong>METODO GET</strong>

                        <p>A través de este método puede solicitar información de todos los alumnos o de un alumno en
                          particular, para solicitar información de todos los alumnos debe hacerlo a trávés de la
                          siguiente dirección</p>

                        <div class="col-12">
                          <div class="d-flex justify-content-md-start justify-content-center">
                            <img class="img-fluid" src="/public/img/getalumnos.jpg" alt="Imagen de Usuarios">
                          </div>
                        </div>


                        <p>El resultado de la consulta de todos los alumnos debería ser como se muestra en la siguiente
                          imagen:</p>

                        <div class="col-12">
                          <div class="d-flex justify-content-md-start justify-content-center">
                            <img class="img-fluid" src="/public/img/resultadosalumnos.jpg" alt="Imagen de Usuarios">
                          </div>
                        </div>

                        <hr class="sidebar-divider border-dark">

                        <strong>METODO POST</strong>
                        <p>A través de este método puede enviar información de un alumno en particular, para solicitar
                          esta información debe hacerlo a trávés de la siguiente dirección:</p>

                        <div class="col-12">
                          <div class="d-flex justify-content-md-start justify-content-center">
                            <img class="img-fluid" src="/public/img/postalumnos.jpg" alt="Imagen de Usuarios">
                          </div>
                        </div>
                          <p>
                            El resultado del envío de un alumno en específico debería ser como se muestra en la
                            siguiente imagen:
                          </p>

                          <div class="col-12">
                            <div class="d-flex justify-content-md-start justify-content-center">
                              <img class="img-fluid" src="/public/img/registroexitoso.jpg" alt="Imagen de Usuarios">
                            </div>
                          </div>
                        

                        <hr class="sidebar-divider border-dark">


                        <strong>METODO PUT</strong>
                        <p>A través de este método puede actualizar información de un alumno en específico, para solicitar esta información debe hacerlo a trávés de la siguiente dirección:</p>

                        <div class="col-12">
                          <div class="d-flex justify-content-md-start justify-content-center">
                            <img class="img-fluid" src="/public/img/putalumnos.jpg" alt="Imagen de Usuarios">
                          </div>
                        </div>
                        <p>
                          El resultado de la actualización de un alumno en específico debería ser como se muestra en la siguiente imagen:
                        </p>

                        <div class="col-12">
                          <div class="d-flex justify-content-md-start justify-content-center">
                            <img class="img-fluid" src="/public/img/datosactualizados.jpg" alt="Imagen de Usuarios">
                          </div>
                        </div>

                        <hr class="sidebar-divider border-dark">


                        <strong>METODO DELETE</strong>
                        <p>A través de este método puede actualizar información de un alumnos en específico, para solicitar esta información debe hacerlo a trávés de la siguiente dirección:</p>

                        <div class="col-12">
                          <div class="d-flex justify-content-md-start justify-content-center">
                            <img class="img-fluid" src="/public/img/deletealumnos.jpg" alt="Imagen de Usuarios">
                          </div>
                        </div>
                        <p>
                          El resultado de la actualización de un alumno en específico debería ser como se muestra en la siguiente imagen:
                        </p>

                        <div class="col-12">
                          <div class="d-flex justify-content-md-start justify-content-center">
                            <img class="img-fluid" src="/public/img/datoseliminados.jpg" alt="Imagen de Usuarios">
                          </div>
                        </div>



                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                <div class="copyright text-center my-auto">
                  <span>Copyright &copy; Boostrap 5</span>
                </div>
              </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->



      <!-- Bootstrap core JavaScript-->
      <script src="/public/vendor/jquery/jquery.min.js"></script>
      <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Core plugin JavaScript-->
      <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>

      <!-- Custom scripts for all pages-->
      <script src="/public/js/sb-admin-2.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>