<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/documentacion">
      <div class="sidebar-brand-icon rotate-n-15">
        <i style="font-size: 22px;" class="bi bi-book"></i>
      </div>
      <div class="sidebar-brand-text mx-2">DOCUMENTACION </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
      <a class="nav-link" href="/documentacion">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>MODULOS</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- SEGURIDAD-->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Seguridad</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Vistas:</h6>
            <a class="collapse-item" href="/documentacion/usuarios">Usuarios</a>
            <a class="collapse-item" href="/documentacion/roles">Roles</a>
        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#admin"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Colegios</span>
    </a>
    <div id="admin" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Vistas:</h6>
            <a class="collapse-item" href="/documentacion/departamentos">Departamentos</a>
            <a class="collapse-item" href="/documentacion/provincia">Provincias</a>
            <a class="collapse-item" href="/documentacion/distrito">Disitritos</a>
            <a class="collapse-item" href="/documentacion/colegio">Colegios</a>
           

        </div>
    </div>
</li>

  <!-- REGISTRAR ALUMNO Y DOCENTES -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#registrarAlumnoYDocente"
        aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Estudiante</span>
    </a>
    <div id="registrarAlumnoYDocente" class="collapse" aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Vistas:</h6>
            <a class="collapse-item" href="/documentacion/alumno">Alumnos</a>
            <a class="collapse-item" href="/documentacion/grado">Grados</a>
            <a class="collapse-item" href="/documentacion/secciones">Secciones</a>
            <a class="collapse-item" href="/documentacion/matricula">Matricula</a>
        </div>
    </div>
</li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#registrarMatricula"
        aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Docentes</span>
    </a>
    <div id="registrarMatricula" class="collapse" aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Vistas:</h6>
            <a class="collapse-item" href="/documentacion/docente">Docentes</a>
            <a class="collapse-item" href="/documentacion/asignaciones">Asignaciones</a>
            <a class="collapse-item" href="/documentacion/cursos">Cursos</a>
        </div>
    </div>
</li>


<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#registrarNotas"
        aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Calificaciones</span>
    </a>
    <div id="registrarNotas" class="collapse" aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Vistas:</h6>
            <a class="collapse-item" href="/documentacion/notas">Notas</a>
            <a class="collapse-item" href="/documentacion/periodo">Periodo Escolar</a>
        </div>
    </div>
</li>

  <!-- Divider -->
  <hr class="sidebar-divider">



  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>