<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/documentacion">
      <div class="sidebar-brand-icon rotate-n-15">
        <i style="font-size: 22px;" class="bi bi-book"></i>
      </div>
      <div class="sidebar-brand-text mx-2">DOCUMENTACION </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
      <a class="nav-link" href="/documentacion">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>MODULOS</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- SEGURIDAD-->
  <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Seguridad</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Vistas:</h6>
              <a class="collapse-item" href="/documentacion/usuarios">Usuarios</a>
              <a class="collapse-item" href="/documentacion/roles">Roles</a>
          </div>
      </div>
  </li>

  <!-- REGISTRAR ALUMNO Y DOCENTES -->
  <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#registrarAlumnoYDocente"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Registrar Datos</span>
      </a>
      <div id="registrarAlumnoYDocente" class="collapse" aria-labelledby="headingUtilities"
          data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Vistas:</h6>
              <a class="collapse-item" href="#">Alumnos</a>
              <a class="collapse-item" href="#">Docentes</a>
              <a class="collapse-item" href="#">Grados</a>
              <a class="collapse-item" href="#">Secciones</a>
          </div>
      </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#registrarMatricula"
        aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Matricula</span>
    </a>
    <div id="registrarMatricula" class="collapse" aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Vistas:</h6>
            <a class="collapse-item" href="#">Matricular</a>
        </div>
    </div>
</li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
      Reportes
  </div>




  <!-- Nav Item - reportes -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#reportes"
        aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Reportes</span>
    </a>
    <div id="reportes" class="collapse" aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" href="utilities-color.html">Colors</a>
            <a class="collapse-item" href="utilities-border.html">Borders</a>
            <a class="collapse-item" href="utilities-animation.html">Animations</a>
            <a class="collapse-item" href="utilities-other.html">Other</a>
        </div>
    </div>
</li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>