<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
      <div class="sidebar-brand-icon rotate-n-15">
          <i class="bi bi-mortarboard-fill"></i>
      </div>
      <div class="sidebar-brand-text mx-3">SECUNDARIA </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
      <a class="nav-link" href="/admin">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
      MODULOS
  </div>

  <!-- SEGURIDAD-->
  <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Seguridad</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Vistas:</h6>
              <a class="collapse-item" href="/super/usuarios">Usuarios</a>
              <a class="collapse-item" href="/super/roles">Roles</a>

          </div>
      </div>
  </li>


    <!-- SEGURIDAD-->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#administracion"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Colegios</span>
        </a>
        <div id="administracion" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Vistas:</h6>
                <a class="collapse-item" href="/super/departamentos">Departamentos</a>
                <a class="collapse-item" href="/super/provincias">Provincias</a>
                <a class="collapse-item" href="/super/distritos">Disitritos</a>
                <a class="collapse-item" href="/super/colegios">Colegios</a>
            </div>
        </div>
    </li>

  <!-- REGISTRAR ALUMNO Y DOCENTES -->
  <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#registrarAlumnoYDocente"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Estudiante</span>
      </a>
      <div id="registrarAlumnoYDocente" class="collapse" aria-labelledby="headingUtilities"
          data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Vistas:</h6>
              <a class="collapse-item" href="/super/alumnos">Alumnos</a>
              <a class="collapse-item" href="/super/grados">Grados</a>
              <a class="collapse-item" href="/super/matricula">Matricula</a>
          </div>
      </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#registrarMatricula"
        aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Docentes</span>
    </a>
    <div id="registrarMatricula" class="collapse" aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Vistas:</h6>
            <a class="collapse-item" href="/super/docentes">Docentes</a>
            <a class="collapse-item" href="/super/asignaciones">Asignaciones</a>
            <a class="collapse-item" href="/super/materias">Cursos</a>
        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#registrarNotas"
        aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Calificaciones</span>
    </a>
    <div id="registrarNotas" class="collapse" aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Vistas:</h6>
            <a class="collapse-item" href="/super/notas">Notas</a>
            <a class="collapse-item" href="/super/periodos">Periodo Escolar</a>
        </div>
    </div>
</li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
      Reportes
  </div>





  <!-- Nav Item - reportes -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#reportes"
        aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Reportes</span>
    </a>
    <div id="reportes" class="collapse" aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" href="utilities-color.html">Colors</a>
            <a class="collapse-item" href="utilities-border.html">Borders</a>
            <a class="collapse-item" href="utilities-animation.html">Animations</a>
            <a class="collapse-item" href="utilities-other.html">Other</a>
        </div>
    </div>
</li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>